.tiposBienestarStyle {
    height: 100vh;
    border-radius: 20px 20px 0 0;
    margin-top: -25px;
    position: relative;
    padding-top: 30px;

    &__container {
        width: 330px;
        background-color: #7C9E7E;
        margin: 8px;

        &-card {
            width: 298px;
            margin: 16px auto;
            border-radius: 9px;
            height: 75px;
            padding-left: 17px;
            background-color: #fff;

            img {
                width: 60px;
                border-radius: 50%;
            }

            span {
                margin-left: 15px;
            }
        }
    }
}