.navbarContainer {
    padding: 0 12px;
    min-height: 56px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    top: 0;

    &__Logo {

        img {
            width: 185px;
        }
    }

    &__titulos {
        justify-content: flex-start;
        color: #fff;
        z-index: 2;

        img {
            padding-right: 10px;
        }
    }

    &__favcart {
        padding-right: 16px;

        &-favIcon {

            img {
                width: 20px;
            }
        }

        &-cartIcon {
            width: 18px;
            margin-left: 28px;
        }
    }
}
