.compraRealizadaStyle {
    position: relative;
    height: 100vh;

    &__container {
        justify-content: space-evenly;
        position: relative;

        &-txt {
            margin-top: 40px;
            width: 249px;
            border-radius: 20px;
            background-color: rgba(240, 240, 240, 0.66);
            padding: 24px 0;
            text-align: center;
            z-index: 2;

            &textoGracias {
                text-align: center;
                padding: 20px 4px;
                z-index: 2;
            }
        }

        &-aceptarCompra {
            margin-bottom: -75px;
            z-index: 2;
        }

        img {
            margin-top: 80px;
            position: absolute;
            object-fit: cover;
        }
    }
}